<html ng-app="MPA">
<head>
    <meta charset="UTF-8">
    <title>Myndpool Signup</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/superhero-bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/kyc.css">
    <link rel="shortcut icon" href="/static/img/stride-badge-original@2x.png" type="image/x-icon">
    <style type="text/css">
        .navbar {
            background: #1b1600 !important;
            border-color: #1b1600;
            border-radius: 0px;
            min-height: 60px;
        }
        .navbar-brand {
            display: inline;
        }
        .navbar-header {
            text-align: center;
            margin: auto auto;
            cursor: pointer;
        }
        .navbar-brand-admin {
            color: white;
            font-size: 19px;
            display: inline-block;
            margin-top: 5px;
            font-family: "Open Sans", "Arial", sans-serif;
            letter-spacing: 1px;
        }
    </style>
</head>

<body ng-controller="mpa">
        <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/admin"><img src="/static/images/elements/logo-white.svg" id="logo" alt="logo" height="40"></a><span class='navbar-brand-admin'>ADMIN</span>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a class='logout' href="/logout">Sign Out</a></li>
            </ul>
        </div>
    </nav>
    <div class="container hidden" id="loading" align="center">
        <div class="col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-4" id="loadingMessage">
            <img src="/static/img/loading.gif" alt="Loading Stride Logo" class="img loadinggif" width="100">
            <h3 class="loadingtext">Loading...</h3>
        </div>
        <!-- <div class="col-md-6 col-md-offset-3 col-xs-4 col-xs-offset-4 hidden" id="connectionClosed">
            <h2 class="text-danger text-center"><span><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i></span></h2>
            <br>
            <h4 class="text-center">Invalid Credentials! Please check the credentials entered.</h4>
        </div> -->
    </div>
    <div class="container" id="retrieval_form">
        <div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
            <legend class="text-center">
                Add user
            </legend>
            <!-- <div class="alert alert-danger" id="fillall">
                <button type="button" class="close" onclick="$('#fillall').slideUp();" aria-hidden="true">&times;</button>
                <strong class="text-center" id="alert_msg">Invalid Credentials!<br>Please check the credentials entered.</strong>
            </div> -->
            <br>
            <form class="form-horizontal" action="/signup" method="POST">
                <div class="form-group">
                    <label class="control-label" for="name">
                        <h4>Full name</h4>
                    </label>
                    <input type="text" id="name" name="name" ng-model="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="company">
                        <h4>8 digit ID</h4>
                    </label>
                    <input type="text" name="eight_id" id="eight_id" ng-model="eight_id" class="form-control" required>
                </div>
                <br>
                <div class="col-xs-12 ">
                    <button class="btn btn-success center-block mgbt30" type="submit" ng-click="formSubmission()" id="submit_button">Add user</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="connectionError">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Connection Closed!</h4>
                </div>
                <div class="modal-body">
                    <h2 class="text-danger text-center"><span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span></h2>
                    <h5 class="text-center">Connection from server closed. Please refresh and try again.</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>


</html>
